<script src="https://kit.fontawesome.com/1d87a2c62d.js" crossorigin="anonymous"></script>
<div class="card-group w-75" style="margin:10%;">
  <div class="card shadow p-3 mb-5 bg-body rounded" style=" border:none">
    <img src="/assets/bremda.jpeg" class="card-img-top rounded-circle w-25 mx-auto" width=10% alt="...">
    <div class="card-body">
      <h1 class="card-title text-center">About me</h1>
      <p class="card-text text-center p-2">
        Eai, beleza?
        Meu nome é Brenda, tenho 20 anos, gosto de gatos(acho que já deu pra entender), sou formada em Técnico em Informática e
        sou estagiária em Análise e Desenvolvimento de Sistemas. Enfim, curto desenvolver algumas coisas aí.
      </p>
      <br>
      <a class="fab fa-linkedin-in p-3"  target=”_blank” href="https://linkedin.com/in/brenda-valadares" style="color:black; width:20px;"></a>
      <a class="bi bi-github p-3"  target=”_blank” href="https://github.com/Bremda" style="color:black; width:20px;"></a>
    </div>
  </div>
</div>
