<div id="<%= dom_id post %>">
  <p>
  <div class="h3 text-capitalize">
    <strong></strong>
    <%= post.title %>
</div>
  </p>
  </div>
<div class="text-muted d-inline-block text-truncate" style="max-width: 245px; padding:15%; padding-left: 0%">
<%= post.content%>
</div>

