<div id="<%= dom_id post %>">
  <div class="h3 text-capitalize">
    <%= post.title %>
  </div>
  <p class="text-muted d-inline-block" style="max-width: 245px; padding:10%; padding-left: 0%">
  <%= post.description %>
  </p>
</div>
